<div class="container espaco-top">
  <div class="media justify-content-center">
      <img src="https://avatars.githubusercontent.com/u/135651519?v=4" class="mr-3 foto-perfil" alt="..." style="max-width: 150px; max-height: 150px; border-radius: 7px; margin-right: 10px;">
      <div class="media-body">
        <h5 class="mt-0">Eduardo Noronha Sampaio</h5>
        <h6 class="mt-0">Desenvolvedor backend Jr.</h6>
        <p style="max-width: 700px;">Olá meu nome é Eduardo, tenho 20 anos e atualmente estou me aventurando na area de TI com foco em desenvolvimento de softwares.</p>
        <span class="badge badge-primary">C#</span>
        <span class="badge badge-secondary">C/C++</span>
        <span class="badge badge-success">SQL</span>
      </div>
  </div>

  <div class="container espaco-top" style="display: flex; flex-direction: row;">
    <div class="card" style="width: 18rem; border-radius: 7px;">
      <img style="padding: 20px;" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="card-img-top" alt="Logo Github">
      <div class="card-body">
        <h5 class="card-title">Github</h5>
        <p class="card-text">Aqui estão alguns de meus trabalhos realizados nas aulas do curso técnico.</p>
        <a href="https://github.com/nseduuu" class="btn btn-primary">Clique aqui!</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 20px; border-radius: 7px;">
      <img style="padding: 20px;" src="https://img.freepik.com/vetores-premium/logotipo-quadrado-do-linkedin-isolado-no-fundo-branco_469489-892.jpg" class="card-img-top" alt="Logo Github">
      <div class="card-body">
        <h5 class="card-title">Linkedin</h5>
        <p class="card-text">Confira um pouco mais da minha vida profissional na rede social Linkedin!</p>
        <a href="https://br.linkedin.com/" class="btn btn-primary">Clique aqui!</a>
      </div>
    </div>

  </div>
</div>
