<div class="container espaco-top">
  <div class="media justify-content-center">
      <img src="https://avatars.githubusercontent.com/u/134154730?v=4" class="mr-3 foto-perfil" alt="..." style="max-width: 150px; max-height: 150px; border-radius: 7px; margin-right: 10px;">
      <div class="media-body">
        <h5 class="mt-0">Ana Beatriz Marini</h5>
        <h6 class="mt-0">Designer UX</h6>
        <p style="max-width: 700px;">Olá meu nome é Ana Beatriz, tenho 18 anos e atualmente estou me aventurando na area de TI com foco em desenvolvimento de softwares.</p>
        <span class="badge badge-primary">HTML5</span>
        <span class="badge badge-secondary">CSS</span>
        <span class="badge badge-success">C#</span>
      </div>
  </div>

  <div class="container espaco-top" style="display: flex; flex-direction: row;">
    <div class="card" style="width: 18rem; border-radius: 7px;">
      <img src="https://www.pngmart.com/files/23/Github-Logo-PNG.png" class="card-img-top" alt="Logo Github">
      <div class="card-body">
        <h5 class="card-title">Github</h5>
        <p class="card-text">Aqui estão alguns de meus trabalhos realizados nas aulas do curso técnico.</p>
        <a href="https://github.com/iamnabia" class="btn btn-primary">Clique aqui!</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 20px; border-radius: 7px;">
      <img style="padding: 20px;" src="../../../assets/img/logoLinkedin.png" class="card-img-top" alt="Logo Github">
      <div class="card-body">
        <h5 class="card-title">Linkedin</h5>
        <p class="card-text">Confira um pouco mais da minha vida profissional na rede social Linkedin!</p>
        <a href="https://br.linkedin.com/" class="btn btn-primary">Clique aqui!</a>
      </div>
    </div>
  </div>
</div>
