<!-- <li class="list-group-item">An item ✅</li> -->

<div class="row">
    <div class="col">
      <ul class="list-group">
        <H4 style="text-align: center;">Primeiro módulo</H4>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lógica de programação
          <span class="badge badge-primary badge-pill">✅</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Modelagem de dados
          <span class="badge badge-primary badge-pill">✅</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Programção Web
          <span class="badge badge-primary badge-pill">✅</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Design para sites e aplicativos
          <span class="badge badge-primary badge-pill">✅</span>
        </li>
      </ul>
    </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <H4 style="text-align: center;">Segundo módulo</H4>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Programação Web Avançado
        <span class="badge badge-primary badge-pill segundo-modulo">⌛</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Analise e projeção sistemas
        <span class="badge badge-primary badge-pill segundo-modulo">⌛</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Desenvolvimento Mobile
        <span class="badge badge-primary badge-pill segundo-modulo">⌛</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Desenvolvimento de sistemas em C#
        <span class="badge badge-primary badge-pill segundo-modulo">⌛</span>
      </li>
    </ul>
  </div>
</div>


