<div class="container espaco-top">
  <div class="media justify-content-center">
      <img src="https://avatars.githubusercontent.com/u/81514103?v=4" class="mr-3 foto-perfil" alt="..." style="max-width: 150px; max-height: 150px; border-radius: 7px; margin-right: 10px;">
      <div class="media-body">
        <h5 class="mt-0">Lucas Felix</h5>
        <h6 class="mt-0">Desenvolvedor backend</h6>
        <p style="max-width: 700px;">Olá 👋🏼 sou o Lucas, um desenvolvedor em busca de uma colocação profissional no mercado voltado a desenvolvimento de softwares.</p>
        <span class="badge badge-primary">C#</span>
        <span class="badge badge-secondary">Python</span>
        <span class="badge badge-success">SQL</span>
      </div>
  </div>

  <div class="container espaco-top" style="display: flex; flex-direction: row;">
    <div class="card" style="width: 18rem; border-radius: 7px;">
      <img style="padding: 20px;" src="https://img.freepik.com/vetores-premium/logotipo-quadrado-do-linkedin-isolado-no-fundo-branco_469489-892.jpg" class="card-img-top" alt="Logo Github">
      <div class="card-body">
        <h5 class="card-title">Linkedin</h5>
        <p class="card-text">Meu perfil no Linkedin, onde conto sobre minhas atribuições.</p>
        <a href="https://br.linkedin.com/" class="btn btn-primary">Clique aqui!</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 20px; border-radius: 7px;">
      <img style="padding: 20px;" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="card-img-top" alt="Logo Github">
      <div class="card-body">
        <h5 class="card-title">Github</h5>
        <p class="card-text">Aqui está alguns de meus projetos e aplicações.</p>
        <a href="https://github.com/strFelix" class="btn btn-primary">Clique aqui!</a>
      </div>
    </div>

  </div>
</div>
